package-lock.json
package.json
*/**/npm.json
dist/
reports/
golden/
.vscode
.ng_build
**/node_modules/**
**/web_modules/**
.cache
.netlify
packages/core/**/*.css.ts
packages/core/custom-elements.json
packages/core/src/styles/tokens/generated/**
packages/core/dist/
packages/react/coverage/
packages/react/dist/
docs/core

