package-lock.json
package.json
*/**/npm.json
dist/
reports/
golden/
.vscode
.ng_build
**/node_modules/**
**/web_modules/**
.cache
.netlify
packages/angular/.angular/**
packages/angular/projects/cds-angular/
packages/core/**/*.css.ts
packages/core/custom-elements.json
packages/core/src/styles/tokens/generated/**
packages/core/src/grid/docs/*.stories.ts
packages/core/dist/
packages/react/coverage/
packages/react/dist/
docs/core
apps/core-angular-cli/
.netlify

# has errors and got past build
packages/eslint-plugin-clarity-adoption