**/node_modules
**/dist
**/.angular/cache

# core
projects/core/src/styles/tokens/generated
projects/core/custom-elements.json

# angular
projects/angular/projects/cds-angular/*/**/*
!projects/angular/projects/cds-angular/_stubs
!projects/angular/angular/projects/cds-angular/src/all.spec.ts
!projects/angular/angular/projects/cds-angular/src/test.ts
